# ----------------------------
# gRPC клиенты
# ----------------------------

# gRPC клиенты
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_HOST}

# Http server
HTTP_HOST=${ORDER_HTTP_HOST}
HTTP_PORT=${ORDER_HTTP_PORT}
HTTP_READ_TIMEOUT=${ORDER_HTTP_READ_TIMEOUT}
HTTP_SHUT_DOWN_TIMEOUT=${ORDER_HTTP_SHUT_DOWN_TIMEOUT}

# Логгер
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# Postgresql
POSTGRES_IMAGE_NAME=${ORDER_POSTGRES_IMAGE_NAME}
POSTGRES_HOST=${ORDER_POSTGRES_HOST}
POSTGRES_PORT=${ORDER_POSTGRES_PORT}
EXTERNAL_POSTGRES_PORT=${ORDER_EXTERNAL_POSTGRES_PORT}
POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
POSTGRES_DB=${ORDER_POSTGRES_DB}
POSTGRES_SSL_MODE=${ORDER_POSTGRES_SSL_MODE}
MIGRATION_DIRECTORY=${ORDER_MIGRATION_DIRECTORY}