🛸 **НОВОЕ СООБЩЕНИЕ ОБ ОПЛАТЕ СБОРКИ КОСМИЧЕСКОГО КОРАБЛЯ!**

🆔 **ID:** {{.EventUUID}}
📍 **Номер заказа:** {{.OrderUUID}}
📝 **Пользователь:** {{.UserUUID}}
{{- if .PaymentMethod}}
🎨 **Способ оплаты:** {{.PaymentMethod}}
{{- end}}
{{- if .TransactionUUID}}
⏱️ **Транзакция номер:** {{.TransactionUUID}}
{{- end}}