# Elasticsearch
ES_PORT=${OBSERVABILITY_ES_PORT}
ES_INTERNAL_PORT=${OBSERVABILITY_ES_INTERNAL_PORT}

# Kibana
KIBANA_PORT=${OBSERVABILITY_KIBANA_PORT}
KIBANA_INTERNAL_PORT=${OBSERVABILITY_KIBANA_INTERNAL_PORT}

# OTLP приёмники
OTEL_GRPC_PORT=${OBSERVABILITY_OTEL_GRPC_PORT}
OTEL_HTTP_PORT=${OBSERVABILITY_OTEL_HTTP_PORT}
OTEL_INTERNAL_METRICS_PORT=${OBSERVABILITY_OTEL_INTERNAL_METRICS_PORT}
OTEL_PROM_EXPORTER_PORT=${OBSERVABILITY_OTEL_PROM_EXPORTER_PORT}

# Prometheus
PROMETHEUS_PORT=${OBSERVABILITY_PROMETHEUS_PORT}

# Grafana
GRAFANA_PORT=${OBSERVABILITY_GRAFANA_PORT}
GRAFANA_ADMIN_USER=${OBSERVABILITY_GRAFANA_ADMIN_USER}
GRAFANA_ADMIN_PASSWORD=${OBSERVABILITY_GRAFANA_ADMIN_PASSWORD}
