# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST=${PAYMENT_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

IAM_GRPC_HOST=${PAYMENT_IAM_GRPC_HOST}
IAM_GRPC_PORT=${PAYMENT_IAM_GRPC_PORT}

# OpenTelemetry / Logger
LOGGER_ENABLE_OTLP=${PAYMENT_LOGGER_ENABLE_OTLP}
OTLP_ENDPOINT=${PAYMENT_OTLP_ENDPOINT}
SERVICE_NAME=${PAYMENT_SERVICE_NAME}
SERVICE_ENV=${PAYMENT_SERVICE_ENV}